<div class="field">
      <%= f.label :question_text, "Question" %><br>
      <%= f.text_field :question_text %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove Question" %>
</div>

<div>
  <%= f.fields_for :answers do |builder| %>
     <%= render 'answer_fields', :f => builder %>
  <% end %>
</div>
