<div class="field question">
      <%= f.label :question_text, "Question" %><br>
      <%= f.text_field :question_text %>
      <%= f.hidden_field :_destroy %>
      <%= link_to_function "remove", "remove_question(this)" %>

	<div class="answers">
	  <%= f.fields_for :answers do |builder| %>
	     <%= render 'answer_fields', :f => builder %>
	  <% end %>
	</div>

	<p><%= link_to_add_fields "Add Answer", f, :answers %></p>
</div>
